/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.button {
  color: #dd1264;
  height: 32px;
  width: 180px;
  font-family: 'Roboto';
  border-radius: 8px;
  cursor: pointer;
  border-color: transparent;
}
.para {
  margin-top: 40px;
  background-color: #fddddb;
  min-width: 18vw;
  min-height: 16vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 32px;
}
